:root {
    --articlewidth: 75%;
}

/* Use 2 flex: 
- Body: Header + Nav + Flex2 + Footer
- Flex2: Article + Aside */

body {
    /* Fullscreen setting */
    height: fit-content;
    margin: 0px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-wrap: wrap;
}

.flex2 {
    /* Fullscreen setting */
    height: fit-content;
    margin: 0px;
    
    display: flex;
}

/* Each component's properties */
header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;

    align-self: flex-start;
    display: flex;
}

header div {
    color: rgb(184, 24, 37);
    
    font-size: 40px;
    padding: 25px; 
    align-self: center;
    justify-self: flex-start;
}

header div, h1, h2, .navbutton {
    font-family: 'Merriweather';
}
nav {
    background-color:rgb(184, 24, 37);
    width: 100%;
    height: 40px;
    
    display: flex;
    justify-content: flex-start;
}

nav div.navbutton {
    border: 1px rgb(184, 24, 37) solid;
    width: 100px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    background-color:rgb(255, 255, 255);
    width: var(--articlewidth);
    height: fit-content;
    display: flex;
    
}

article div.divarticle {
    margin: 40px 80px 40px 30px; 
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}

h1 {
    font-size: 33px;
    padding-bottom: 0;
    margin-bottom: 10px;
    padding-top: 0;
    margin-top: 10px;
}

img {
    object-fit: cover;
    width: 100%;
}
aside {
    background-color: rgb(252, 252, 252);
    width: calc(100% - var(--articlewidth)) ;
}

aside div {
    margin: 40px 10px 40px 20px; 
    overflow: hidden;
}
footer {
    background-color: rgb(184, 24, 37);
    width: 100%;
    height: fit-content;

    align-self: flex-end;
}

footer div {
    color: white;
    margin: 30px 10px 40px 20px; 
}